* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.swiper {
  width: 90%;
  height: 500px;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.swiper-slide img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.6s;
}

.swiper-slide:hover img {
  transform: scale(1.1);
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
}
